ion-content {
    --background: url('../../../assets/img/bg-auth.png');
}

ion-item {
    background: rgba(231, 228, 224, 0.8);
    padding: 10px;
}

ion-card {
    --background: white;
}

ion-card-header {
    text-align: center;
}

ion-card-content {
    padding: 0;
}

.item-native {
    padding: 0;
}

.comments {
    text-align: center;
    outline: 1px solid gainsboro;
    margin: 20px;

    .separator {
        width: 100%;
        height: 1px;
        background: gainsboro;
        margin: 15px 0px;
    }
}