ion-toolbar {
    --background: rgb(244, 81, 30);
    --color: white;
}

ion-content {
    --background: url('../../../assets/img/login-bg.png');
}

ion-card {
    --background: white;
}

ion-card-header {
    text-align: center;
}